.yes-no-question {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70svh;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}

.question-answer {
  position: relative;
}

.point {
  position: absolute;
  top: 0.5%;
  right: 10.5%;
}

.answer-content {
  display: flex;
  width: 90%;
}

.answer-img {
  border-radius: 10px;
  height: 200px;
  width: 400px;
  object-fit: fill;
}

.list-answers {
  max-height: 60svh;
  width: 85%;
  overflow-y: auto;
  position: relative;
}

.list-answers .answer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.check {
  position: absolute;
  bottom: -15%;
}

.list-answers .opinion {
  flex-grow: 2;
}

.list-answers .opinion p {
  margin: 15px 0;
  font-size: 20px;
}

.list-answers .answer .value {
  display: flex;
  gap: 20px;
  align-items: center;
}

.list-answers .answer .value button {
  padding: 6px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Calistoga";
  border-radius: 10px;
  background-color: #33afb7;
  cursor: pointer;
  border: 3px solid white;
  color: white;
}

.list-answers .answer .value button:hover {
  background-color: #2f6dac;
}

.list-answers .answer .value button.correct {
  background-color: rgb(21, 182, 21);
}

.list-answers .answer .value button.false {
  background-color: red;
}

.list-answers .answer .value button.active {
  background-color: #2f6dac;
}

.check button {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Calistoga";
  border-radius: 10px;
  background-color: #e19246;
  cursor: pointer;
  border: 3px solid white;
  color: white;
}

.check button:hover {
  background-color: #f17c0c;
}

.value img {
  width: 40px;
}

.question {
  width: 95%;
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
  font-family: var(--title-font);
}

.question img {
  width: 40%;
  margin: 0 auto;
  object-fit: fill;
  border-radius: 10px;
}

.decorate {
  border-radius: 10px;
  margin-bottom: 10px;
}
