<div class="yes-no-question">
  <div class="question">
    <img
      class="decorate"
      *ngIf="question?.decoratePath?.length > 0"
      [src]="question?.decoratePath"
      alt=""
    />
    <p [innerHTML]="question.questionName"></p>
    <img
      *ngIf="question?.imgPath?.length > 0"
      [src]="question?.imgPath"
      alt=""
    />
  </div>
  <div class="list-answers">
    <div class="answer" *ngFor="let answer of question.choices; let i = index">
      <div class="opinion">
        <p [innerHTML]="answer.name"></p>
      </div>
      <div class="value">
        <button (click)="saveAnswer(i, $event)">Đ</button>
        <button (click)="saveAnswer(i, $event)">S</button>
        <img
          *ngIf="
            isClickCheck &&
            this.listAnswer[i].choice == this.listAnswer[i].answer
          "
          src="/assets/imgs/lession/correct-icon.png"
          alt=""
        />
        <img
          *ngIf="
            isClickCheck &&
            this.listAnswer[i].choice != this.listAnswer[i].answer
          "
          src="/assets/imgs/lession/false-icon.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="check">
    <button id="checkButton" (click)="onCheckAnswer()">Kiểm tra</button>
  </div>
</div>
