<img
  class="left"
  src="/assets/imgs/lession/back.png"
  (click)="returnToBackPage()"
  alt=""
  title="quay lại"
/>
<img class="not-found" src="/assets/notfound.png" alt="" />
<!-- <ng-container *ngIf="isLoading">
  <img class="loading" src="/assets/loading.gif" alt="" />
</ng-container>
<ng-container *ngIf="!isLoading">
  <div class="geometry-menu">
    <img
      class="left"
      src="/assets/imgs/lession/back.png"
      (click)="returnToBackPage()"
      alt=""
      title="quay lại"
    />
    <div class="plane-geometry">
      <img class="plane-geometry-background" [src]="planeUrl" alt="" />

      <div class="plane-geometry-menu">
        <left-button
          #leftButton
          *ngFor="let item of planeGeometryMenu"
          class="button"
          [imgPath]="item.imgPath"
          [imgLabel]="item.label"
          [name]="item.name"
        ></left-button>
      </div>
    </div>
    <div class="cube-geometry">
      <img class="cube-geometry-background" [src]="cubeUrl" alt="" />
      <div class="cube-geometry-menu">
        <right-button
          *ngFor="let item of cubeGeometryMenu"
          class="button"
          [imgPath]="item.imgPath"
          [imgLabel]="item.label"
          [name]="item.name"
        ></right-button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</ng-container>
<app-error-message
  [display]="errorMessage.length > 0"
  [message]="errorMessage"
></app-error-message> -->
