<div class="yes-no-question">
  <div class="question">
    {{ question.questionName }}
  </div>
  <div class="list-answers">
    <div class="answer"
    *ngFor="let answer of question.choices;let i = index">
      <div class="opinion">
        <p>{{answer.name}}</p>
      </div>
      <div class="value">
        <button (click)="saveAnswer(i, $event)">Đ</button>
        <button (click)="saveAnswer(i, $event)">S</button>
      </div>
    </div>

  </div>
  <div class="check">
  <button (click)="onCheckAnswer()">Kiểm tra</button>
  </div>

</div>
