<ng-container *ngIf="isLoading">
  <img class="loading" src="/assets/loading.gif" alt="" />
</ng-container>
<ng-container *ngIf="!isLoading">
  <div class="manage-question">
    <img
      class="left"
      src="/assets/imgs/lession/back.png"
      (click)="returnToBackPage()"
      alt=""
      title="quay lại"
    />
    <p class="title">Danh sách câu hỏi</p>

    <div class="table">
      <div class="table-container">
        <button class="add-new" (click)="onAddQuestionList()">
          <i class="fa-solid fa-folder-plus"></i>
          Thêm mới
        </button>
        <div class="list-topic">
          <div class="table-label">
            <span style="flex: 0 0 20%"></span>
            <span style="flex: 0 0 40%">Tên chủ đề</span>
            <span style="flex: 0 0 40%">Số lượng phiếu bài tập</span>
          </div>

          <div class="list-topic-item">
            <div
              class="topic-item"
              *ngFor="let topic of listTopics; let i = index"
            >
              <div
                class="topic-item-content"
                title="Mở rộng danh sách"
                (click)="onExpandTopic(+topic.key)"
              >
                <span style="flex: 0 0 20%"
                  ><i
                    class="fa-solid fa-plus"
                    *ngIf="!isExpand[i] && i == +topic.key"
                  ></i>
                  <i
                    class="fa-solid fa-minus"
                    *ngIf="isExpand[i] && i == +topic.key"
                  ></i
                ></span>
                <span style="flex: 0 0 40%">{{ topic.topicName }}</span>
                <span style="flex: 0 0 40%">{{
                  topic.listExercises?.length
                }}</span>
              </div>
              <div class="list-exercise" *ngIf="isExpand[i] && i == +topic.key">
                <div class="exercise-label">
                  <span style="flex: 0 0 10%">STT</span>
                  <span style="flex: 0 0 40%">Tên phiếu bài tập</span>
                  <span style="flex: 0 0 35%">Số lượng câu hỏi</span>
                  <span style="flex: 0 0 15%">Thao tác</span>
                </div>
                <div
                  class="exercise-item"
                  *ngFor="let exercise of topic.listExercises; let i = index"
                >
                  <span style="flex: 0 0 10%">{{ i + 1 }}</span>
                  <span style="flex: 0 0 40%">{{ exercise.name }}</span>
                  <span style="flex: 0 0 35%">{{
                    exercise.quests.length
                  }}</span>
                  <span style="flex: 0 0 15%"
                    ><div class="action">
                      <i
                        class="fa-solid fa-file-pen"
                        title="Chỉnh sửa phiếu bài tập"
                        (click)="
                          onEditTopic(exercise.key, topic.topicCode, +topic.key)
                        "
                      ></i>
                      <i
                        class="fa-solid fa-trash-can"
                        title="Xóa phiếu bài tập"
                        (click)="
                          onDeleteTopic(
                            exercise.key,
                            topic.topicCode,
                            +topic.key
                          )
                        "
                      ></i></div
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-confirm-popup
  [isDisplay]="displayConfirmDelete"
  (result)="onConfirmDelete($event)"
></app-confirm-popup>
