<div class="write-answer">
  <img [src]="question.imgPath" alt="" class="question-img" />
  <div class="question-content">
    <textarea
      class="question"
      [ngModel]="questionName"
      (ngModelChange)="onChangeQuestionName($event)"
    ></textarea>
    <div class="answer-input">
      <p>Đáp án là:</p>
      <input
        type="number"
        maxlength="10"
        [ngModel]="answer"
        id="answer"
        autocomplete="off"
        (ngModelChange)="onChangeAnswer($event)"
      />
      <input
        type="text"
        maxlength="50"
        [ngModel]="unit"
        id="unit"
        autocomplete="off"
        (ngModelChange)="onChangeUnit($event)"
      />
    </div>
  </div>
</div>
