.menu-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.img-button{
  background-color: #E6C5FE;
  padding: 10px;
  clip-path: polygon(0 0, 80% 0, 100% 50% , 80% 100%, 0 100%);
}

img{
  width: 40%;
  margin-right:-10%;
  z-index:10;
}

.left-menu-button{
  width: calc(100vw/4.5);
  height: 8.5svh;
  text-align: center;
  font-size: 3vw;
  font-family: var(--title-font);
  clip-path: polygon(0 0, 78% 0, 98% 50% , 78% 100%, 0 100%);
  color:#E6C5FE;
  border: none;
  background: linear-gradient(to left, #fff 50%, #E6C5FE 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  margin-left:10px;
  transition:all .75s ease;
  cursor: pointer;
}

.menu-button:hover .left-menu-button{
  background-position: left bottom;
  color: white;
}

.menu-button:hover .img-button{
  background-color: #fff;
}



