.menu-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.menu-button .img-button{
  background-color: #8BEBCB;
  padding: 10px;
  clip-path: polygon(20% 0, 100% 0, 100% 100% , 20% 100%, 0 50%);
}

.menu-button img{
  width: 40%;
  margin-left:-10%;
  z-index:10;
}

.right-menu-button{
  width: calc(100vw/4.5);
  height: 8.5svh;
  text-align: center;
  font-size: 3vw;
  font-family: var(--title-font);
  clip-path: polygon(20% 0, 100% 0, 100% 100% , 20% 100%, 0 50%);
  color: #8BEBCB;
  border: none;
    background: linear-gradient(to right, #fff 50%, #8BEBCB 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    margin-left:10px;
    transition:all .75s ease;
    cursor: pointer;
}

.menu-button:hover .right-menu-button{
  background-position: right bottom;
  color: white;
}

.menu-button:hover .img-button{
  background-color: #fff;;
}

