.list-exercise-content {
  width: 100%;
  position: absolute;
  text-align: center;
  min-height: 100svh;
  background-image: url("/assets/imgs/home/background.jpg");
  background-size: cover;
}
.list-exercise {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.list-exercise .card {
  flex: 0 0 20%;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: var(--title-font);
}

.card {
  border-radius: 15px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

p {
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .list-exercise .card {
    flex: 0 0 30%;
  }
}

@media screen and (max-width: 500px) {
  .list-exercise .card {
    flex: 0 0 45%;
  }
}
