<ng-container *ngIf="isLoading">
  <img class="loading" src="/assets/loading.gif" alt="" />
</ng-container>
<ng-container *ngIf="!isLoading">
  <img
    class="left"
    src="/assets/imgs/lession/back.png"
    (click)="returnToBackPage()"
    alt=""
    title="quay lại"
  />

  <div class="list-exercise-content">
    <p class="title">Danh sách bài tập</p>
    <div class="list-exercise">
      <ng-container *ngFor="let item of listExcercise">
        <app-excercise-card
          class="card"
          [name]="item.name"
        ></app-excercise-card>
      </ng-container>
    </div>
  </div>
</ng-container>
