.left-lession-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 3svh;
}

.img-lession-button {
  background-color: #e6c5fe;
  padding: 0.8em;
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
}

img {
  width: 20%;
  margin-right: -10%;
  z-index: 10;
}

button {
  width: calc(100vw / 4);
  height: 6.5svh;
  text-align: center;
  font-size: 2vw;
  font-family: var(--title-font);
  clip-path: polygon(0 0, 82% 0, 96% 50%, 82% 100%, 0 100%);
  color: #e6c5fe;
  border: none;
  background: linear-gradient(to left, #fff 50%, #e6c5fe 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  margin-left: 10px;
  transition: all 0.75s ease;
  cursor: pointer;
}

.left-lession-button:hover button {
  background-position: left bottom;
  color: white;
}

.left-lession-button:hover .img-button {
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  img {
    width: 70px;
  }
  .img-lession-button {
    padding: 10px;
  }
  button {
    font-size: 15px;
    height: 30px;
    width: 200px;
  }
}

@media screen and (max-width: 800px) {
  .img-lession-button {
    padding: 5px;
  }

  img {
    width: 50px;
  }

  button {
    font-size: 12px;
    height: 30px;
    width: 170px;
  }
}

@media screen and (max-width: 500px) {
  .img-lession-button {
    padding: 5px;
  }
  button {
    font-size: 12px;
    height: 25px;
    width: 130px;
  }
}
