<div class="exercise-shape">
  <img
    class="left"
    src="/assets/imgs/lession/back.png"
    (click)="returnToBackPage()"
    alt=""
    title="quay lại"
  />
  <div class="shape-container">
    <img
      class="background"
      src="/assets/imgs/lession/question.png"
      alt="cau-hoi"
    />
    <div id="container"></div>
  </div>
  <div class="buttons">
    <button (click)="addRectangle(this.width / 2)">
      <img
        src="/assets/imgs/buttons/rectangle.png"
        alt=""
        title="Thêm hình chữ nhật"
      />
    </button>
    <button (click)="addTriangle(this.width / 2)">
      <img
        src="/assets/imgs/buttons/triangle.png"
        alt=""
        title="Thêm hình tam giác"
      />
    </button>
    <button (click)="addCircle(this.width / 2)">
      <img
        src="/assets/imgs/buttons/circle.png"
        alt=""
        title="Thêm hình tròn"
      />
    </button>
    <button (click)="deleteSelected()">
      <img src="/assets/imgs/buttons/delete.png" alt="" title="Xóa hình" />
    </button>
  </div>
</div>
