<ng-container *ngIf="isLoading">
  <img class="loading" src="/assets/loading.gif" alt="" />
</ng-container>
<ng-container *ngIf="!isLoading">
  <div class="math-menu">
    <img
      class="left"
      src="/assets/imgs/lession/back.png"
      (click)="returnToBackPage()"
      alt=""
      title="quay lại"
    />
    <div class="geometry">
      <img class="background" [src]="geometryImgUrl" alt="" />
      <left-menu-button
        class="button"
        [imgPath]="geometryButtonPath"
        [imgLabel]="geometryButtonLabel"
        [url]="geometryUrl"
      ></left-menu-button>
    </div>
    <div class="algebra">
      <img class="background" [src]="algebraImgUrl" alt="" />
      <right-menu-button
        class="button"
        [imgPath]="algrebraButtonPath"
        [imgLabel]="algrebraButtonLabel"
        [url]="algebraUrl"
      ></right-menu-button>
    </div>
  </div>
</ng-container>
