<div class="math-menu">
  <div class="geometry">
    <img src="/assets//imgs/home/geometry_background.gif" alt="" />
    <left-menu-button class="button"
      [imgPath]="geometryButtonPath"
      [imgLabel]="geometryButtonLabel"
    ></left-menu-button>
  </div>
  <div class="algebra">
    <img src="/assets//imgs/home/algebra_background.gif" alt="" />
    <right-menu-button class="button"
      [imgPath]="algrebraButtonPath"
      [imgLabel]="algrebraButtonLabel"
    ></right-menu-button>
  </div>
</div>
