/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Calistoga&family=Kablammo&family=Lobster&family=Mea+Culpa&family=Pacifico&family=Pattaya&family=Praise&family=Tilt+Prism&family=Twinkle+Star&display=swap');

:root{
  --title: 'Kablammo';
  --text: 'Twinkle Star';
  --text-size: 13px;
  --title-size: 26px;
}
/* font-family: 'Baloo Bhai 2', cursive;
font-family: 'Calistoga', cursive;
font-family: 'Kablammo', cursive;
font-family: 'Lobster', cursive;
font-family: 'Mea Culpa', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Praise', cursive;
font-family: 'Tilt Prism', cursive;
font-family: 'Twinkle Star', cursive; */

body{
  width: 100%;
  height: 100svh;
  margin: 0;
  padding: 0;
  border: none;
}
