<ng-container *ngIf="isLoading">
  <img class="loading" src="/assets/loading.gif" alt="" />
</ng-container>
<ng-container *ngIf="!isLoading">
  <div class="home-img">
    <img [src]="url" alt="ảnh nền" />
    <div class="setting" (click)="onLogin()">
      <img src="/assets/settings.png" alt="" />
    </div>
    <home-button [link]="goToMath" class="home-button"></home-button>
  </div>
</ng-container>

<app-error-message
  [display]="informMessage.length > 0"
  [message]="informMessage"
  [code]="code"
></app-error-message>
