.home-img {
  width: 100%;
  height: 100svh;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

img {
  width: 100%;
  height: 100svh;
  object-fit: fill;
  display: block;
}

.home-img .home-button {
  position: absolute;
  padding: 20px 50px;
  font-size: var(--title-size);
  font-weight: bold;
  bottom: 3%;
  left: 50%;
  cursor: pointer;

  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.setting {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.setting:hover {
  width: 90px;
  height: 90px;
}

.setting img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
