<div class="flipbook-content">
  <img
    class="left"
    src="/assets/imgs/lession/back.png"
    (click)="returnToBackPage()"
    alt=""
    title="quay lại"
  />
  <div class="flipbook">
    <div class="flip-panel">
      <div class="panel">
        <div class="front">
          <div class="content">
            <span class="fold"></span>
            <img src="/assets/imgs/lession/welcome-exercise.png" alt="" />
          </div>
        </div>

        <div class="back">
          <div class="content">
            <span class="fold1"></span>
            <img src="/assets/imgs/lession/question.png" alt="" />
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="front">
          <div class="content">
            <span class="fold"></span>
            <img src="/assets/imgs/lession/welcome-exercise.png" alt="" />
          </div>
        </div>

        <div class="back">
          <div class="content">
            <span class="fold1"></span>
            <img src="/assets/imgs/lession/question.png" alt="" />
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="front">
          <div class="content">
            <span class="fold"></span>
            <img src="/assets/imgs/lession/welcome-exercise.png" alt="" />
          </div>
        </div>

        <div class="back">
          <div class="content">
            <span class="fold1"></span>
            <img src="/assets/imgs/lession/question.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
